@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    color: #333;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar h2 {
    text-align: center;
    font-weight: 600;
    color: #333;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

.main-content {
    margin-left: 270px;
    flex: 1;
    padding: 40px;
    overflow-y: auto;
    position: relative;
}

header {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    text-align: center;
    color: white;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 10px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.summary-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    backdrop-filter: blur(10px);
}

button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}

form {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

label, input, select, textarea, button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

input, select, textarea {
    background: rgba(255, 255, 255, 0.3);
    color: #333;
    border: 1px solid rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

input:focus, select:focus, textarea:focus {
    background: rgba(255, 255, 255, 0.5);
    transform: scale(1.02);
}

select option {
    background: #fff;
    color: #333;
}

textarea {
    resize: none;
}

canvas {
    margin: 20px auto;
    display: block;
    width: 50%;
    max-width: 400px;
}
